<div class="container" style="margin-top: 145px;">
  
  <div class="secao">
    <h3 class="text-center">Refrigerantes</h3>
    <h5 class="text-center">Saborei sua pizza com um belo refrigerante!</h5>
  </div>

  <hr />

  <div *ngFor="let oferta of ofertas">
    <div class="row">
      <div class="col-md-4">
        <img [src]="oferta.imagens[0].url" class="img-fluid" />
      </div>

      <div class="col-md-8">
        <div class="row">
          <h4>{{oferta.titulo}}</h4>
        </div>

        <div class="row">
          <h5>{{oferta.descricao_oferta}}</h5>
        </div>

        <div class="row">
          <p>Anunciado por: <b>{{oferta.anunciante}}</b></p>
        </div>

        <div class="row">
          <p>{{oferta.valor}}</p>
        </div>

        <div class="row">
          <button class="btn btn-outline-success" [routerLink]="['/oferta', oferta.id]">Ver oferta</button>
        </div>
      </div>
    </div>

    <hr />
  </div>

  <!--
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/img5.jpg" />
    </div>

    <div class="col-md-8">
      <div class="row">
        <h4>Pepsi</h4>
      </div>

      <div class="row">
        <h5>2L</h5>
      </div>

      <div class="row">
        <p>Anunciado por: <b>Pizzaria</b></p>
      </div>

      <div class="row">
        <p>6,00</p>
      </div>

      <div class="row">
        <button class="btn btn-outline-success">Ver oferta</button>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="col-md-4">
      <img src="/assets/img6.jpg" />
    </div>

    <div class="col-md-8">
      <div class="row">
        <h4>Coca-Cola</h4>
      </div>

      <div class="row">
        <h5>2L</h5>
      </div>

      <div class="row">
        <p>Anunciado por: <b>Pizzaria</b></p>
      </div>

      <div class="row">
        <p>7,00</p>
      </div>

      <div class="row">
        <button class="btn btn-outline-success">Ver oferta</button>
      </div>
    </div>
  </div>-->

  <br>
</div>